.right-sidebar {
    width: 100%;
    max-width: 421px;
    padding: 20px;
    padding-left: 28px;
}

.right-sidebar__search-input__wrapper {
    width: 373px;
    height: 55px;
    background-color: #EFF3F4;
    border-radius: 31px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.right-sidebar__search-input {
    border: hidden;
    font-family: sans-serif;
    outline: hidden;
    font-size: 18px;
    line-height: 24px;
    color: #5C6C79;
    background-color: #EFF3F4;
}

.right-sidebar__search-icon {
    margin-right: 20px;
}


.right-sidebar__trends {
    width: 100%;
    width: 373px;
    height: 420px;
    padding: 20px 15px;
    background-color: #F7F9F9;
    border-radius: 10px;

    margin-top: 20px;
}

.right-sidebar__setting-heading {
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #1e1e1e;
}

.right-sidebar__setting__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.right-sidebar__setting-btn {
    border: hidden;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f9f9;
}

.right-sidebar__setting-icon {
    width: 100%;
    height: 100%;
}

.right-sidebar__trends__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;
}

.country {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #393B41;
    opacity: 0.6;
    margin-bottom: 2px;

}

.revolution {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #1e1e1e;
    margin-bottom: 3px;
}

.stats {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #393B41;
    opacity: 0.6;
    margin-top: 4px;
}

.stat-number {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #393B41;
    opacity: 0.6;
    margin-right: 4px;
}

.right-sidebar__more-btn {
    border: none;
    background-color: #f7f9f9;
}

.right-sidebar__more-icon {
    width: 100%;
    height: 100%;
}

.right-sidebar__show-more-btn {
    font-family: sans-serif;
    border: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #1DA1F2;
    background-color: #f7f9f9;
}

.right-sidebar__followers {
    width: 100%;
    max-width: 373px;
    height: 295px;
    padding: 20px;
    background-color: #F7F9F9;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.right-sidebar__followers-heading {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #1e1e1e;
}

.right-sidebar__follower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.right-sidebar__follower-link {
    width: 56%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.right-sidebar__follower-img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.name {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 1px;
}

.email {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
}

.right-sidebar__follow-btn {
    width: 92px;
    height: 38px;
    background-color: #000;
    border-radius: 50px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #fff;
}

.additional-info {
    width: 100%;
    max-width: 373px;
    display: flex;
    flex-wrap: wrap;
}

.additional {
    width: 100%;
    max-width: 115px;
    margin-right: 10px;
}