.main {
    width: 100%;
    max-width: 840px;
    display: block;
    border-right: 1px solid #e5e5e5;
}

.main__top-div {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
}

.main__top-header {
    margin: 0;
    font-style: normal;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.mode-button {
    background-color: white;
    border: none;
}

.new-post__div {
    padding: 0 20px;
    border-bottom: 1px solid #d8d8d8;
}

.new-post {
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.new-post__input {
    margin-left: 15px;
    background-color: #fff;
    border: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    color: #828282;
}

.new-post__box {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-post__list {
    display: flex;
    list-style-type: none;
    margin-left: 65px;
}

.new-post__item {
    margin-right: 20px;
}

.new-post__button {
    background-color: #fff;
    border: none;
}

.new-post-tweet__button {
    width: 108px;
    height: 50px;
    background-color: #1DA1F2;
    opacity: 0.4;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    border: none;
    border-radius: 120px;

    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    color: #FFFFFF;
}

.posts__list {
    list-style-type: none;
}

.posts__item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #d8d8d8;
    padding: 20px;
    padding-top: 30px;
}

.posts-info {
    margin-left: 15px;
}

.posts-user-name {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 5px;
}

.posts-user__span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
}

.posts-user-comment {
    margin-bottom: 24px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.reaction__list {
    list-style-type: none;
    display: flex;
}

.reaction__item {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.reaction__button {
    background-color: #fff;
    border: none;
}

.reaction__span {
    margin-left: 10px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #536471;
}

.posts-user__share {
    margin-bottom: 24px;
}

