.main {
    width: 100%;
    max-width: 840px;
    display: block;
    border-right: 1px solid #e5e5e5;
}

.dark .main {
    border-right: 1px solid #2F3336;
}

.main__top-div {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
}

.dark .main__top-div {
    border-bottom: 1px solid #2F3336;
}

.main__top-header {
    margin: 0;
    font-style: normal;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.dark .main__top-header {
    color: #fff;
}


.changes-wrapper {
    display: flex;
    align-items: center;
}

.change {
    margin-left: 30px;
    border:none;
    background-color: #fff;
    width: 50px;
    
    & option {
        width: 50px;
        margin-right: 10px;
        background-color: #fff;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        border-radius: 10px;
    }
}

.dark .change {
    background-color: #111;
    color: #fff;

    & option {
        background-color: #111;
        color: #fff;
    }
}


.mode-button {
    background-color: white;
    border: none;
}

.dark .mode-button {
    background-color: #111;
}

.dark .mode-button path {
    fill:#1DA1F2;
}


.new-post__div {
    padding: 0 20px;
    border-bottom: 1px solid #d8d8d8;
}

.dark .new-post__div {
    border-bottom: 1px solid #2F3336;
}

.new-post {
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.new-post__input {
    width: 90%;
    margin-left: 15px;
    background-color: #fff;
    border: none;
    outline: none;

    &::placeholder {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 29px;
        color: #828282;
    }
}

.dark .new-post__input {
    background-color: #111;
}

.new-post__box {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-post__list {
    display: flex;
    list-style-type: none;
    margin-left: 65px;
}

.new-post__item {
    margin-right: 20px;
}

.new-post__button {
    background-color: #fff;
    border: none;
}

.dark .new-post__button {
    background-color: #111;
}

.new-post-tweet__button {
    width: 108px;
    height: 50px;
    background-color: #1DA1F2;
    opacity: 0.5;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    border: none;
    border-radius: 120px;

    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    color: #FFFFFF;

    &:active {
        opacity: 1;
    }
}



.posts__list {
    list-style-type: none;
}

.posts__item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #d8d8d8;
    padding: 20px;
    padding-top: 30px;
}

.dark .posts__item {
    border-bottom: 1px solid #2F3336;
}

.posts-info {
    margin-left: 15px;
}

.posts-user-name {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 5px;
}

.dark .posts-user-name {
    color:#fff;
}

.posts-user__span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
}

.dark .posts-user__span {
    color:#fff
}

.posts-user-comment {
    width: 95%;
    margin-bottom: 24px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.dark .posts-user-comment {
    color: #fff;
}

.reaction__list {
    list-style-type: none;
    display: flex;
}

.reaction__item {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

.reaction__button {
    background-color: #fff;
    border: none;
}

.dark .reaction__button {
    background-color: #111;
}

.reaction__span {
    margin-left: 10px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #536471;
}

.posts-user__share {
    width: 90%;
    margin-bottom: 24px;
}

